@model Demo.Models.Employee

@{
    ViewData["Title"] = "Edit";
    string role;
    decimal salary = Model.Salary;
    int min;
    int max;
    decimal salaryCoefficient;
    int rank;
}
@if (Model.IsCEO == true)
{
    role = "CEO";
    min = 10;
    max = 10;
    salaryCoefficient = 2.725M;
    rank = (int)(salary / salaryCoefficient);
}
else if (Model.IsManager == true)
{
    role = "Manager";
    min = 6;
    max = 9;
    salaryCoefficient = 1.725M;
    rank = (int)(salary / salaryCoefficient);
}
else
{
    role = "Employee";
    min = 1;
    max = 15;
    salaryCoefficient = 1.125M;
    rank = (int)(salary / salaryCoefficient);
}

<h1>Edit Employee</h1>

<hr />
<div class="row" onload="alert('loaded edit page')">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Current employment status: </label>
                @role, rank @rank
                <input type="hidden" name="currentRole" value="@role" />
            </div>
            <div class="form-group">
                <label class="control-label"> Role </label>
                <div id="editRadioDiv">
                    <div>
                        @if(role == "Employee")
                        {
                            <input type="radio" id="EditEmployee" name="editRole" value="Employee" onchange="AdjustForm(this, 'edit')" checked />
                        }
                        else
                        {
                            <input type="radio" id="EditEmployee" name="editRole" value="Employee" onchange="AdjustForm(this, 'edit')" />
                        }
                        Employee (rank 1-5)
                    </div>
                    <div>
                        @if (role == "Manager")
                        {
                            <input type="radio" id="EditManager" name="editRole" value="Manager" onchange="AdjustForm(this, 'edit')" checked />
                        }
                        else
                        {
                            <input type="radio" id="EditManager" name="editRole" value="Manager" onchange="AdjustForm(this, 'edit')" />
                        }
                         Manager (rank 6-9)
                    </div>
                    <div>
                        @if (ViewBag.CEOExists == true)
                        {
                            <input type="radio" name="editRole" value="CEO" disabled />
                        }
                        else
                        {
                            @if (role == "CEO")
                            {
                                <input type="radio" id="EditCEO" name="editRole" value="CEO" onchange="AdjustForm(this, 'edit')" checked />
                            }
                            else
                            {
                                <input type="radio" id="EditCEO" name="editRole" value="CEO" onchange="AdjustForm(this, 'edit')" />
                            }
                        }
                        CEO (rank 10)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Rank</label>
                <div id="editRankDiv">
                    <input type="number" name="editRank" min=@min max=@max value=@rank class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <div>

                    @if (role == "Employee")
                    {
                        <select id="editEmployeeSelect" asp-for="ManagerId" class="form-control" asp-items="ViewBag.Managers">
                            <option selected disabled>Select a manager</option>
                        </select>
                    }
                    else
                    {
                        <select id="editEmployeeSelect" asp-for="ManagerId" class="form-control" asp-items="ViewBag.Managers" style="display:none;">
                            <option selected disabled>Select a manager</option>
                        </select>
                    }

                    @if(role == "Manager")
                    {
                        <select id="editManagerSelect" asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagersAndCEO">
                            <option selected disabled>Select a manager</option>
                            <option>No Manager</option>
                        </select>
                    }
                    else
                    {
                        <select id="editManagerSelect" asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagersAndCEO" style="display:none;">
                            <option selected disabled>Select a manager</option>
                            <option>No Manager</option>
                        </select>
                    }

                    @if (role == "CEO")
                    {
                        <select id="editCeoSelect" asp-for="ManagerId" class="form-control" disabled>
                            <option>No manager</option>
                        </select>
                    }
                    else
                    {
                        <select id="editCeoSelect" asp-for="ManagerId" class="form-control" style="display:none;" disabled>
                            <option>No manager</option>
                        </select>
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-success" />
                <a asp-action="ReturnToIndex" class="btn btn-primary">Back to start</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
